{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "bottomLeft",
      "positionLocked" : true
    },
    "background": {
      "type": "background",
      "fileHeader": "",
      "fileBody": "/interface/luanimator/v2/body.png"
    },
    "lytMain": {
      "type": "layout",
      "visible": true,
      "layoutType": "basic",
      "rect": [0, 0, 200, 180],
      "children": {
        "background": {
          "type": "image",
          "file": "/interface/luanimator/v2/mainbody.png"
        },
        "preview": {
          "type": "image",
          "position": [18, 74],
          "file": ""
        },
        "txtFileName": {
          "type": "textbox",
          "hint": "luanimation",
          "maxWidth": 50,
          "callback": "null",
          "enterKey": "changeAnimationFile",
          "position": [18, 145]
        },
        "buttonShowForms": {
          "type": "button",
          "position": [84, 172],
          "base": "/interface/luanimator/v2/larrow.png",
          "hover": "/interface/luanimator/v2/larrowhover.png",
          "pressed": "/interface/luanimator/v2/larrowpressed.png",
          "callback": "showForms",
          "pressedOffset": [0, 0]
        },
        "lblWarning": {
          "type": "label",
          "value": "",
          "position": [3, 170]	
        },
        "buttonActivate": {
          "type": "button",
          "position": [33, 46],
          "base": "/interface/luanimator/turn.png",
          "hover": "/interface/luanimator/turnhover.png",
          "pressed": "/interface/luanimator/turnpress.png",
          "pressedOffset": [0, 0],
          "callback": "activate"
        },
        "buttonStop": {
          "type": "button",
          "position": [51, 45],
          "base": "/interface/luanimator/v2/pause.png",
          "hover": "/interface/luanimator/v2/pausehover.png",
          "pressed": "/interface/luanimator/v2/pausepressed.png",
          "pressedOffset": [0, 0],
          "callback": "stop"
        },
        "buttonPreviousForm": {
          "type": "button",
          "position": [54, 33],
          "base": "/interface/luanimator/v2/rarrow.png",
          "hover": "/interface/luanimator/v2/rarrowhover.png",
          "pressed": "/interface/luanimator/v2/rarrowpressed.png",
          "pressedOffset": [0, 0],
          "callback": "previousForm"
        },
        "buttonNextForm": {
          "type": "button",
          "position": [78, 33],
          "base": "/interface/luanimator/v2/larrow.png",
          "hover": "/interface/luanimator/v2/larrowhover.png",
          "pressed": "/interface/luanimator/v2/larrowpressed.png",
          "pressedOffset": [0, 0],
          "callback": "nextForm"
        },
        "textboxAFKTime": {
          "type": "textbox",
          "hint": "AFK",
          "maxWidth": 20,
          "callback": "null",
          "enterKey": "setAFKTimer",
          "position": [70, 15],
					"regex": "\\d{0,3}"
        },
        "buttonOnLoad": {
          "type": "button",
          "position": [80, 2],
          "checkable": true,
          "base": "/interface/optionsmenu/checkboxnocheck.png",
          "hover": "/interface/optionsmenu/checkboxnocheckhover.png",
          "baseImageChecked": "/interface/optionsmenu/checkboxcheck.png",
          "hoverImageChecked": "/interface/optionsmenu/checkboxcheckhover.png",
          "callback": "switchOnLoad"
        }
      }
    },

    "lytForms": {
      "type": "layout",
      "visible": false,
      "layoutType": "basic",
      "rect": [0, 2, 200, 180],
      "children": {
        "background": {
          "type": "image",
          "file": "/interface/luanimator/v2/formsbody.png"
        },
        "buttonHideForms": {
          "type": "button",
          "position": [5, 168],
          "base": "/interface/luanimator/v2/rarrow.png",
          "hover": "/interface/luanimator/v2/rarrowhover.png",
          "pressed": "/interface/luanimator/v2/rarrowpressed.png",
          "callback": "hideForms",
          "pressedOffset": [0, 0]
        },
        "scrollFormsArea": {
          "type": "scrollArea",
          "rect": [15, 11, 103, 163],
          "children": {
            "formsList": {
              "type": "list",
              "callback": "formSelected",
              "schema": {
                "selectedBG": "/interface/luanimator/formBorderSelected.png",
                "unselectedBG": "/interface/luanimator/formBorder.png",
                "spacing": [0,
                7],
                "memberSize": [68,
                68],
                "listTemplate": {
                  "border": {
                    "type": "image",
                    "file": "/interface/luanimator/formBorder.png"
                  },
                  "formPreview": {
                    "type": "image"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "scriptWidgetCallbacks": ["activate", "stop", "nextForm", "previousForm", "formSelected", "changeAnimationFile", "switchOnLoad", "showForms", "hideForms", "setAFKTimer"],
  "scripts": ["/interface/luanimator/luanimatorgui.lua"]
}